@import url('https://fonts.googleapis.com/css?family=Ubuntu');

.table_large {
	width: 50%;
}

.table_med {
	width: 30% ;
}

.table_small {
	width: 10%;
}

.table-row {
  display: flex;
  line-height: 25px;
  white-space: nowrap;
  margin: 0px;
  padding: 3px;
  background: #ffffff;
  border: 0px ;
  border-bottom: 1px solid #e3e3e3;

}

.table-row:hover{
	background: #fffff1;
}

.table-row > span {
  text-align: left;
  display:block; 
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 5px;
}

span#head{
	/*text-align: inherit;*/
	font-weight: bold;
	background-color: #e3e3e3;
}


a.mybtn {
	text-align: left;
	width: 50px;
	border: 1px solid #e3e3e3;
	background-color: #fffff1;
	text-decoration: none;
	padding: 3px;
	margin: 1px;
	margin-bottom: 5px;
}

a#add {
  	display: flex;
	
}

a{
	color:black;
	text-decoration: none;
}

a:visited{
	text-decoration: none;
}

body{
	text-align: center;
	margin: auto;
	font-family: 'Ubuntu', sans-serif;
}

body > div {
	margin:0px 100px 0px 100px ;
}

input {
	font-family: 'Ubuntu', sans-serif;
	border-radius: 2px;
	font-size: 15px;
	border: 1px solid gray;
	padding: 4px;
	height: 40px;
}

input[type='submit'], input[type='button']{
	background-color: #2454a0;
	color: white;
	width: 150px;
	margin-right: 3px;
}
input[type='submit']:hover, input[type='button']:hover{
	background-color: #2a67c9;
	cursor: pointer;
}

input[name='year']{
}

h2{
	background-color: #143366;
	padding-bottom: 5px;
	margin-top:0px;
}

h2:hover{
	text-decoration: none;
}

h2 > a {
	text-decoration: none;
	color: white;
}

h2 > a:hover {
	text-decoration: none;
	color: yellow;
}
